@import "styles/styles-utils.scss";

.document {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: $spacing-xxl;
    &__title {
        color: $background-light;
    }
    &__searched {
        color: $background-light;
        padding: $spacing-s 0;
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 500px;
        overflow-y: auto;
        background-color: $background-light;
        thead {
            tr {
                th {
                    background-color: $background-light;
                    color: $background-blue;
                }
            }
        }
    }
    &__button {
        padding: $spacing-l 0;
    }
}
